In [1]:
import pandas as pd

In [2]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [7]:
fifa=pd.read_clipboard()

In [8]:
fifa

,Rank,Team,Participations,Titles,Pld,W,D,L,GF,GA,GD,Pts
0,1,Brazil,21,5,109,73,18,18,229,105,124,237
1,2,Germany[a],19,4,109,67,20,22,226,125,101,221
2,3,Italy,18,4,83,45,21,17,128,77,51,156
3,4,Argentina,17,2,81,43,15,23,137,93,44,144
4,5,France,15,2,66,34,13,19,120,77,43,115
5,6,England,15,1,69,29,21,19,91,64,27,108
6,7,Spain,15,1,63,30,15,18,99,72,27,105
7,8,Uruguay,13,2,56,24,12,20,87,74,13,84

In [9]:
len(fifa)

8

In [11]:
fifa.columns

Index(['Rank', 'Team', 'Participations', 'Titles', 'Pld', 'W', 'D', 'L', 'GF',
       'GA', 'GD', 'Pts'],
      dtype='object')

In [12]:
fifa.info

<bound method DataFrame.info of    Rank        Team  Participations  Titles  Pld   W   D   L   GF   GA   GD  \
0     1      Brazil              21       5  109  73  18  18  229  105  124
1     2  Germany[a]              19       4  109  67  20  22  226  125  101
2     3       Italy              18       4   83  45  21  17  128   77   51
3     4   Argentina              17       2   81  43  15  23  137   93   44
4     5      France              15       2   66  34  13  19  120   77   43
5     6     England              15       1   69  29  21  19   91   64   27
6     7       Spain              15       1   63  30  15  18   99   72   27
7     8     Uruguay              13       2   56  24  12  20   87   74   13

   Pts
0  237
1  221
2  156
3  144
4  115
5  108
6  105
7   84  >

In [13]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            8 non-null      int64
 1   Team            8 non-null      object
 2   Participations  8 non-null      int64
 3   Titles          8 non-null      int64
 4   Pld             8 non-null      int64
 5   W               8 non-null      int64
 6   D               8 non-null      int64
 7   L               8 non-null      int64
 8   GF              8 non-null      int64
 9   GA              8 non-null      int64
 10  GD              8 non-null      int64
 11  Pts             8 non-null      int64
dtypes: int64(11), object(1)
memory usage: 896.0+ bytes

In [ ]:
fifa.head()